/* Setup */
$colors: (
	"white":	#FFFFFF,
	"black":	#000000,
	"gray":		#AAAAAA,
	"linen":	#E9E8E3,
	"brown":	#977D2D,
	"pink":		#FFBEE6,
	"yellow":	#FFF473,
	"iris":		#85A4F7,
	"red":		#F7604F,
	"cyan":		#1FCBFB,
);
:root{
	@each $name, $value in $colors {
		--#{$name}: #{$value};
	}
	--gutter: 1rem;
	--margin: 2rem;
	--transition-xs: cubic-bezier(.77,0,.175,1) 200ms;
	--transition-s: cubic-bezier(.77,0,.175,1) 400ms;
	--transition-m: cubic-bezier(.77,0,.175,1) 800ms;
	--transition-l: cubic-bezier(.77,0,.175,1) 1200ms;
	--sidebarWidth: 16rem;
	--menuHeight: clamp(calc(30px + var(--margin)*2), calc(8vw + var(--margin)*2), calc(50px + var(--margin)*2));
	--spacing-xl: 16rem;
	--spacing-l: 12rem;
	--spacing-m: 8rem;
	--spacing-s: 4rem;
	--spacing-xs: 2rem;
	--radius-m: 1rem;
	--radius-l: 3rem;

	@media screen and (max-width: 1080px) {
		--margin: 1.25rem;
		--sidebarWidth: 0;
	}
}
html {
	-webkit-font-smoothing: antialiased;
	font-size: clamp(12px, calc(10px + 0.2646vw), 16px);
	line-height: 1.2;
	color: var(--black);
	background-color: var(--lightGray);
	overscroll-behavior-x: none;
	// scroll-behavior: smooth;
}
main {
	margin-left: var(--sidebarWidth);
	width: calc(100% - var(--sidebarWidth));
	position: relative;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	padding: var(--margin) var(--margin) calc(var(--margin)*1.5);
	column-gap: var(--margin);
	row-gap: var(--spacing-s);
	height: fit-content;
	>section {
		grid-column: 1 / span 6;
		&:not(:first-of-type) {
			padding-top: var(--margin);
		}
		&:last-of-type {
			padding-bottom: var(--spacing-l);
		}
	}
	@media screen and (max-width: 1080px) {
		margin-top: var(--menuHeight);
		padding: 5rem var(--margin);
		display: block;
		row-gap: 0;

		>section {
			grid-column: unset;
			&:not(:first-of-type) {
				padding-top: var(--menuHeight);
			}
			&:last-of-type {
				padding-bottom: var(--spacing-l);
			}
		}
	}
}
/* Visibility */
.hidden {
	display: none !important;
}
.invisible {
	opacity: 0;
	pointer-events: none;
}
.mobile-s-only {
	display: none;
}
.mobile-only {
	display: none;
}
@media screen and (max-width: 1080px) {
	.desktop-only {
		display: none !important;
	}
	.mobile-only {
		display: inherit;
	}
}
@media screen and (max-width: 768px) {
	.desktop-s-only {
		display: none !important;
	}
	.mobile-s-only {
		display: inherit;
	}
}
/* Buttons */
.btn {
	&,
	&-xs,
	&-s,
	&-m,
	&-l {
		font-family: "Waldenburg", Helvetica, Arial, sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
		display: inline-block;
		border-radius: 99em;
		color: var(--black);
		background-color: var(--white);
		
		&:hover {
			color: var(--white);
			background-color: var(--black);
			
			&:after {
				transform: scaleX(0);
			}
		}
	}

	&-xs {
		font-size: .857rem;
		font-weight: 700;
		letter-spacing: .03em;
		line-height: 1.2;
		background-color: transparent;
		border-radius: unset;
		display: inline-block;
    	position: relative;

		&:hover {
			color: inherit;
			background-color: inherit;

			&:after {
				transform: scaleX(1);
			}
		}

		&:after {
			content: "";
			position: absolute;
			bottom: -.02em;
			left: 0;
			height: 1px;
			width: 100%;
			background-color: var(--black);
			transform: scaleX(0);
			transform-origin: left;
			transition: var(--transition-s);
			transition-property: transform;
		}

		@media screen and (max-width: 1080px) {
			font-size: .833rem;
		}
	}

	&-s {
		font-weight: 500;
		font-size: 1.5rem;
		letter-spacing: -0.01em;
		line-height: 1;
		background-color: transparent;
		border-radius: unset;
		display: inline-block;
    	position: relative;
		
		&::after {
			content: "";
			position: absolute;
			bottom: -0.1em;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: var(--black);
			transform: scaleX(1);
			transform-origin: left;
		}

		&:hover {
			color: inherit;
			background-color: inherit;

			&::after {
				animation: line-wipe 1s ease forwards;
			}
		}

		@media screen and (max-width: 1080px) {
			font-size: 1.5rem;
		}
	}

	&-m {
		font-weight: 800;
		font-size: .857rem;
		letter-spacing: .03em;
		line-height: 1;
		text-transform: uppercase;
		padding: .95em 2em 1em;

		@media screen and (max-width: 1080px) {
			font-size: 1rem;
		}
	}

	&-l {
		font-weight: 500;
		font-size: 1.5rem;
		letter-spacing: -0.01em;
		line-height: 1;
		padding: 1.15em 2em 1.2em;
	}
}
@keyframes line-wipe {
	0% {
		transform: scaleX(1);
		transform-origin: right;
	}
	40% {
		transform: scaleX(0);
		transform-origin: right;
	}
	60% {
		transform: scaleX(0);
		transform-origin: left;
	}
	100% {
		transform: scaleX(1);
		transform-origin: left;
	}
}
@media screen and (max-width: 800px) {

}

// Colors
@each $name, $value in $colors {
	.#{$name}       { color: $value !important; }
	.bg-#{$name}    { background-color: $value !important; }
	.fill-#{$name}  { fill: $value !important; }
	.stroke-#{$name}{ stroke: $value !important; }
	.border-#{$name}{ border: solid 1px $value !important; }
	
	.hover-#{$name}:hover { color: $value !important; }
	.hover-bg-#{$name}:hover { background-color: $value !important; }
	.hover-fill-#{$name}:hover { fill: $value !important; }
	.hover-stroke-#{$name}:hover { stroke: $value !important; }
	.hover-border-#{$name}:hover { border: solid 1px $value !important; }
}
@each $from-name, $from-value in $colors {
  @each $to-name, $to-value in $colors {
    .gradient-y-#{$from-name}-#{$to-name} {
      background: linear-gradient(to bottom, #{$from-value}, #{$to-value}) !important;
    }
    .gradient-x-#{$from-name}-#{$to-name} {
      background: linear-gradient(to right, #{$from-value}, #{$to-value}) !important;
    }
    .gradient-xy-#{$from-name}-#{$to-name} {
      background: linear-gradient(135deg, #{$from-value}, #{$to-value}) !important;
    }
    .hover-gradient-y-#{$from-name}-#{$to-name}:hover {
      background: linear-gradient(to bottom, #{$from-value}, #{$to-value}) !important;
    }
    .hover-gradient-x-#{$from-name}-#{$to-name}:hover {
      background: linear-gradient(to right, #{$from-value}, #{$to-value}) !important;
    }
    .hover-gradient-xy-#{$from-name}-#{$to-name}:hover {
      background: linear-gradient(135deg, #{$from-value}, #{$to-value}) !important;
    }
  }
}

// General
.placeholder, .portrait, .cover {
	object-fit: cover;
}
._9_21	{ aspect-ratio: 9/21; }
._9_16	{ aspect-ratio: 9/16; }
._2_3	{ aspect-ratio: 2/3; }
._3_4	{ aspect-ratio: 3/4; }
._4_5	{ aspect-ratio: 4/5; }
._1_1	{ aspect-ratio: 1/1; }
._5_4	{ aspect-ratio: 5/4; }
._4_3	{ aspect-ratio: 4/3; }
._3_2	{ aspect-ratio: 3/2; }
._16_9	{ aspect-ratio: 16/9; }
._21_9	{ aspect-ratio: 21/9; }



.rounded-m {
	overflow: hidden;
	border-radius: var(--radius-m);
}
.rounded-l {
	overflow: hidden;
	border-radius: var(--radius-l);
}
.section-title {
	width: 100%;
	border-top: solid 1px var(--black);
	padding-top: 1rem;
	margin-bottom: var(--spacing-s);

	@media screen and (max-width: 1080px) {
		padding-top: var(--spacing-xs);
	}
}
.shadow {
	box-shadow: 10px 5px 15px rgba(0, 0, 0, .1);
}
.hover-shadow:hover {
	box-shadow: 10px 5px 15px rgba(0, 0, 0, .1);
}
.hover-underline {
	display: inline-block;
    position: relative;
}
.hover-underline:after {
	content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--black);
    transform: scaleX(0);
    transform-origin: left;
    transition: var(--transition-s);
    transition-property: transform;
}
.hover-underline:hover:after {
	transform: scaleX(1);
}
.max-w-800 {max-width: 800px;}
.max-w-700 {max-width: 700px;}
.max-w-600 {max-width: 600px;}
.max-w-500 {max-width: 500px;}
.max-w-400 {max-width: 400px;}

.locked {
	cursor: not-allowed !important;
}
.locked.shaking {
	animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
}
.policy {
	section {
		h3 {
			margin-top: 1em;
			margin-bottom: .5em;
		}
		ul {
			list-style: none;
			padding-left: 0;

			li {
				position: relative;
				padding-left: 1.5em;

				&::before {
					content: "—";
					position: absolute;
					left: 0;
				}
			}
		}
	}
}
.contacts-grid {
	grid-column: 1 / span 6;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: var(--margin);
	row-gap: var(--margin);

	@media screen and (max-width: 768px) {
		grid-template-columns: repeat(1, 1fr);
	}
}
@keyframes shake {
	10%, 90% { rotate: (1deg); }
	20%, 80% { rotate: (-2deg); }
	30%, 50%, 70% { rotate: (-4deg); }
	40%, 60% { rotate: (4deg); }
}